@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/fantasque-sans-mono");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 900px;
  min-width: 500px;
  margin: auto;
  background-color: #1a1b26;
  font-family: Rajdhani;
  text-align: center;
}

#info {
  padding: 20px;
}

#hour {
  display: block;
  font-size: 130px;
  font-weight: bold;
  color: #73daca;
}

#date {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #f7768e;
}

#quote {
  font-family: "Fantasque Sans Mono";
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #bb9af7;
  padding: 10px;
  width: 800px;
}

hr {
  color: #565f89;
  opacity: 10%;
}

#bookmarks {
  padding: 40px;
}

ul {
  columns: 4;
}

li {
  list-style-type: none;
  padding: 14px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: #7aa2f7;
}

a:hover {
  color: #73daca;
}

.ai {
  padding: 12px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}
