@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

html {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 40%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Rajdhani;
}

h1 {
  font-size: 120px;
  margin-bottom: 0px;
  color: #30675a;
}

h2 {
  font-size: 20px;
  color: #557a84;
  margin: 0px;
}

p {
  font-family: 'Just Another Hand', cursive;
  font-size: 24px;
  font-style: italic;
  color: #c62e76;
}

#rule {
  margin-bottom: 30px;
  color: #365555;
  width: 100%;
  opacity: 30%;
}

#bookmarks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px 0px 0px 40px;
}

li {
  list-style-type: none;
  padding: 0 64px 45px 0;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #30675a;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}
