body {
    background-color: rgb(0, 0, 0);
    background-image: url('./imagens/night_city.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

#panel {
    background: rgba(0, 0, 0, 0.8);
    color: rgb(205, 205, 205);
    backdrop-filter: blur(10px);
    text-align: center;
    font-family: Cartograph CF;
    margin-top: 180px;
    margin-left: 540px;
    margin-right: 540px;
    border-radius: 18px;
}

h1 {
    font-size: 120px;
    margin-bottom: 1px;
    padding-top: 60px;
    color: #B9616C;
}

h2 {
    font-size: 23px;
}

p {
    font-size: 16px;
    font-style: italic;
    color: rgb(100, 100, 100);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 12px;
    padding-bottom: 5px;
}

#rule {
    margin-bottom: 20px;
    color: rgb(35, 35, 35);
    max-width: 700px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(190, 190, 190);
}

li {
    list-style-type: none;
    padding-bottom: 40px;
}

#bookmarks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-right: 27px;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.blink {
    animation: blink 1s infinite;
}
